version: '3.8'

services:
  mongodb:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    restart: always

volumes:
  mongo_data:
